html, body {
      height: 100%;
      margin: 0;
}
    
html {
      font-family: sans-serif;
}
    
body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background: linear-gradient(to bottom right, #ffffff 0%, #0077b6 100%);
      background-repeat: no-repeat;
      background-attachment: fixed;
}

header {
      background: #0077b6;
      color: white;
      margin: 0.4vw;
      padding-left: 50px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: left;
}

main {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      padding: 1rem;
      gap: 1rem;
}

footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
}
    
.footer-links {
      display: flex;
      gap: 2rem; /* space between links */
      margin-top: 0.5rem;
}
.footer-links a {
      color: #f8fafc;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
}
.footer-links a:hover {
      color: #facc15; /* yellow accent on hover */
}
.footer-separator {
      width: 90%;
      height: 2px;
      border: 0;
      background-color: #555; /* subtle gray line */
      margin: 0.5rem 0;
}
    
.date {
      background: white;
      width: 90%;
      max-width: 900px;
      height: 80px; /* fixed height */
      margin-bottom: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
}
.date input[type="date"] {
      height: 40px;
      padding: 0 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 1rem;
}

.card {
      height: 900px;
      width: 90%;
      max-width: 900px;
      border-radius: 10px;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s;  
      margin-bottom: 2rem;
}
.card.flipped {
      transform: rotateY(180deg);
}

.card-face {
      background: white;
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      box-sizing: border-box;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
    
.card-front {}

.card-back {
      transform: rotateY(180deg);
}

button {
      background: white;
      border: solid 1px #000;
      padding: 0.6rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s;
}
button:hover {
      background: #e2e8f0;
}
